<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zebra_Tag_Printer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Zebra_Tag_Printer.Properties.Settings>
            <setting name="TagX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TagY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PermitNoX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PermitNoY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PermitBoxX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PermitBoxY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsoPointX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsoPointY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsoOfficerX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsoOfficerY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DateX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DateY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OfficerX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OfficerY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>1</value>
            </setting>
        </Zebra_Tag_Printer.Properties.Settings>
    </userSettings>
</configuration>